

body{
    background: url(image/formatura.jpg) no-repeat center center fixed;
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover; /*Css Opera*/
    }
    

/*Login*/   
.fundo-transparente{

  	padding: 20px;
  	border-top: 0;
  	color: #FFF;
	background-color:rgba(180,180,180,0.5);

}

.fonte-centro{

	margin: 0;
  	text-align: center;
  	padding: 0 20px 20px 20px;
}

.cor-branca{

	color: #FFF;
}

